extends ../layout.pug

block content 
    .row
        .col-md-6.offset-md-3.col-12
            form(action="/users/create", method="POST")
                .form-group
                    label UserName 
                    input.form-control(type="text", name="username")
                .form-group
                    label email 
                    input.form-control(type="text", name="email") 
                .form-group
                    label picture 
                    input.form-control(type="text", name="picture") 
                .form-group
                    label Password 
                    input.form-control(type="password", name="password") 
                .form-group
                    label Notes 
                    input.form-control(type="text", name="notes") 
                input.btn.btn-block.btn-info(type="submit", value="Enviar")